{% extends 'learning_log/base.html' %}

{% block page_header %}
<h1>{{topic.text}}</h1>
{% endblock page_header %}

{% block content%}
<p>
    <a href="{% url 'learning_log:new_entry' topic.id %}" class="btn btn-primary">Add new entry</a>
</p>
{% for entry in entries %}
<div class="card mb-3">
    <h4 class="card-header d-flex justify-content-between align-items-center">
        <span>{{entry.date_added|date:'M d, Y H:i'}}</span>
        <small><a href="{% url 'learning_log:edit_entry' entry.id %}">Edit entry</a></small>
    </h4>
    <div class="card-body">
        {{entry.text|linebreaks}}
    </div>
</div>
{% empty %}
<p>There are no entries for this topic yet.</p>
{% endfor %}


{% endblock content %}